.wrap {
    background: rgba(229, 231, 239, 0.5);
    color     : #3C3C3C;

    .title {
        background-color: #fff;
        text-align      : center;
        font-size       : 38px;
        padding-top     : 20px;


    }

    .step-wrap {
        background-color: #fff;

        .step {
            width           : 60%;
            margin          : auto;
            background-color: #fff;
        }
    }
}

.confirm {
    margin-top: 20px;
}

.select-address-date {
    margin-top: 20px;

    .city {
        font-size       : 32px;
        padding         : 36px;
        margin-bottom   : 20px;
        background-color: #fff;
        display         : flex;
        justify-content : space-between;
    }

    .select-date {
        background-color: #fff;

    }

    .hospital {
        background-color: #fff;
        padding         : 36px;

        .item {
            display        : flex;
            justify-content: space-between;
            align-items    : center;
            padding        : 30px 0;
            border-bottom  : 1px solid #eee;

            .full-ap {
                color: red;
            }

            .detail {
                width: 500px;

                .name {
                    font-size    : 36px;
                    margin-bottom: 10px;
                }

                .address {
                    font-size : 30px;
                    color     : #999;
                    word-break: break-all;
                }

                .price {
                    color     : rgba(27, 124, 213, 1);
                    margin-top: 40px;
                }
            }

            .select {
                width           : 140px;
                height          : 80px;
                border-radius   : 6px;
                border          : 2px solid rgba(27, 124, 213, 1);
                color           : rgba(27, 124, 213, 1);
                text-align      : center;
                line-height     : 80px;
                font-size       : 28px;
                background-color: #fff;
            }

            .disabled {
                opacity: 0.5;
            }
        }
    }
}


.cur-hospital {
    text-align      : left;
    padding         : 50px;
    margin          : 20px 0;
    background-color: #fff;

    .h-title {
        font-size    : 32px;
        font-weight  : 500;
        margin-bottom: 10px;
    }

    .date {
        font-size: 24px;
        color    : #ddd;
    }
}

.discount-code {
    display         : flex;
    padding         : 30px 50px;
    justify-content : space-between;
    align-items     : center;
    background-color: #fff;

    .d-title {
        font-weight: bold;
        font-size  : 32px;
        line-height: 52px;
    }

    .d-icon {
        margin-right: 30px;
        font-size   : 32px;

    }
}

.bottom {
    background-color: #fff;
    position        : fixed;
    bottom          : 0;
    left            : 0;
    right           : 0;

    .tip {
        font-size      : 25px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 20px 30px;
        border-top     : 1px solid #eee;

        .icon {
            margin-right: 10px;
            font-weight : bold;
            color       : #999;
        }

        .check {
            color: rgba(27, 124, 213, 1);
        }

        .doc {

            .content {
                color: rgba(27, 124, 213, 1);

            }
        }
    }

    .order {
        height : 122px;
        display: flex;

        .price {
            flex         : 2;
            border-top   : 1px solid #E5E7EF;
            border-bottom: 1px solid #E5E7EF;
            height       : 120px;
            color        : #1B7CD5;
            padding      : 0 0 0 44px;
            display      : flex;
            align-items  : center;

            .int {
                font-size: 48px;
            }

            .float {
                font-size: 28px;
            }
        }

        .btn {
            flex       : 1;
            height     : 100%;
            background : rgba(27, 124, 213, 1);
            text-align : center;
            font-size  : 36px;
            line-height: 122px;
            color      : white;
        }
    }

}


.line {
    height    : 20px;
    width     : 100vw;
    background: rgba(229, 231, 239, 0.5);

    color: transparent;
}

.picker {
    padding    : 24px 0;
    margin-left: 32px;
}