.topBanner{
    display: block;
    width: 750px;
    height: 350px;
}
.banner {
    height          : 350px;
    // background-color: #1B7CD5;
    background: url(./top.png);
    background-size: cover;
    background-repeat: no-repeat;
    position        : relative;
.background{
    display: block;
    width: 630px;
    height: 299px;
    margin-top: 58px;
    margin-left: 30px;
}

.entrance{
    display: block;
    width: 680px;
    height: 142px;
    margin-left: 33px;
}

.banner-wrap {
    height: 250px;
}


.test {
    height     : 249px;
    position   : absolute;
    top     : 304px;
    width      : 98%;
    margin-left: 1%;
}

.banner-item {
    box-shadow   : 0px 3px 12px 0px rgba(0, 0, 0, 0.22);
    border-radius: 8px;
    height       : 249px;
    width: 318px;
    text-align: center;
    background: #fff;
    padding   : 20px;

    .title {
        font-size    : 32px;
        font-weight  : 600;
        color        : rgba(27, 124, 213, 1);
        margin-bottom: 10px;
    }

    .des1 {
        font-size  : 24px;
        font-weight: 400;
        color      : rgba(60, 60, 60, 1);
    }

    .des2 {
        font-size  : 24px;
        font-weight: 400;
        color      : rgb(156, 153, 153);
    }

    .btn {
        background   : rgba(255, 110, 18, 1);
        width        : 131px;
        font-size    : 24px;
        color        : white;
        padding      : 0;
        border-radius: 25px;
        margin-top   : 20px;
    }
}

.appointment {
    height       : 142px;
    background   : rgba(255, 226, 221, 1);
    border-radius: 16px;
    width        : 90%;
    margin       : auto;
    display      : flex;
    align-items  : center;

    .title,
    .des {
        color      : rgba(245, 94, 94, 1);
        font-size  : 30px;
        margin-left: 30px;
    }

    .title {
        font-weight: 800;
    }

    .icon {
        color: #F55E5E;
        width: 12px;
    }
}


.detail {
    margin-top: 40px;
    .des {
        padding: 20px;
        // text-align: center;
        .text{
            margin: 20px;
        }
        .partner{
            height: 330px;
            margin: 20px;
            background:rgba(27,124,213,1);
        }
    }
    
}