.order-list {
    background-color: rgba(247, 247, 250, 1);
}

.list-item {
    padding      : 20px 50px;
    margin-top: 20px;

    background-color: #fff;

    .title {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        margin         : 10px auto 20px auto;
        border-bottom  : 1px solid #eee;
        padding: 10px 0;
        .left {
            font-size  : 32px;
            font-weight: bold;
        }

        .right {
            font-size: 24px;
            color    : rgba(247, 117, 54, 1)
        }
    }

    .fields {
        display       : flex;
        align-items   : center;
        margin        : 20px auto;
        border-bottom : 1px solid #eee;
        height        : 50px;
        padding-bottom: 15px;

        .name {
            font-size   : 28px;
            color       : #999;
            margin-right: 20px;
            flex        : 1;
        }

        .value {
            font-size    : 28px;
            color        : rgba(60, 60, 60, 1);
            flex         : 3;
            overflow     : hidden;
            text-overflow: ellipsis;
        }

        .copy {
            margin-left: 20px;
            border     : 1px solid rgba(138, 138, 138, 1);
            color      : rgba(138, 138, 138, 1);
            font-size  : 20px;
            padding    : 5px 10px;

        }
    }

    .price {

        color     : rgba(138, 138, 138, 1);
        padding   : 20px auto;
        text-align: right;

        .bold {
            font-weight: bold;
            color      : #333;
        }
    }

}

.empty {
    padding-top     : 30vw;
    background-color: #fff;
    color           : #666;
    font-size       : 40px;
    text-align      : center;
}